body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  margin: 3em 2em;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5em;
}

.quotes-header {
  margin-bottom: 2em;
}

.quote {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 5px;
}

.quote-text {
  grid-column: 1 / 3;
}

.quote-author {
  grid-column: 2;
  grid-row: 3;
}
